$black:black;
$bg-yellow:#ffdd76;

.black {
    color:$black;
}

.bg-yellow {
    background-color:$bg-yellow;
}

.ml-2 > a:hover {
    color:$black;
}

.text-secondary{
    font-size:0.8em;
}

.navbar-ori {
    flex-direction: row !important;
}

.anderline-none{
    text-decoration: none !important;
}

.user-menu-box {
    position: absolute !important;
}

#preview_marked img {
    width: 100%;
    margin-bottom:1.5em;
}
#preview_marked .h1, h1 {
  font-size: 1.5rem!important;
}
#preview_marked .h2, h2 {
  font-size: 1.3rem!important;
}
#preview_marked .h3, h3 {
  font-size: 1.2rem!important;
}
#preview_marked .h4, h4 {
  font-size: 1.1rem!important;
}
#preview_marked .h5, h5 {
  font-size: 1.0rem!important;
}

.card .h4, h4{
  font-size: 1.1rem!important;
}

.top_seach_icon {
  font-size:1.3rem!important;
  position:relative;
  color:white!important;
  top:14px;
  right:12px;
  font-size:1rem;
  cursor: pointer;
}

.top_seach_icon:hover{
  opacity: 0.6;
}

.search-box {
  position: absolute!important;
  top:53px!important;
  width:90%!important;
  left: 50%!important;
  transform: translate(-50%, 0%);
}

.navbar {
  padding:0 15px !important;
}

.text_ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.header-image-wrapper {
  position: relative; 
  width:100%; 
  padding-top:56.2005%;
}

.header-image-content {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-size:cover;
}

.tag-mark::before{
  content:"#";
}

.user-mark::before{
  font-family: "Font Awesome 5 Free";
  content:"\f007";
  margin: 3px;
}


$double-quotation-mark:"\22";
.double-quotation-mark:after,.double-quotation-mark:before {
  content:$double-quotation-mark;
}

.total-contributions{ 
  top:0px;
  right:0px;
}