.black {
  color: black;
}

.bg-yellow {
  background-color: #ffdd76;
}

.ml-2 > a:hover {
  color: black;
}

.text-secondary {
  font-size: 0.8em;
}

.navbar-ori {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
          flex-direction: row !important;
}

.anderline-none {
  text-decoration: none !important;
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}

