@charset "utf-8";

.article_title {
    color:black;
    /* text-decoration: none; */
}

.article_title:hover {
    color:black;
    text-decoration: none;
}

.ml-2 > a:hover {
    color:black;
    
}

.article_time {
    margin:10px;   
}

.text-secondary{
    font-size:0.8em;
}